body {
  width: 99%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  border: 5px solid grey;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: black;
}

.main.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

h1 {
  font-size: 40px;
  text-align: center;
  grid-column: 1 / span 3;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: silver;
  }

  h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: perspective(300px) rotateX(20deg);
  }
  

h2 {
  text-decoration: underline;
}

ul {
  border: 10px solid black;
  list-style: none;
  padding: 0;
  grid-column: 1 / span 2;
  grid-row: 3;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.puppet-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-column: span 1;
  grid-row: span 1;
}


li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

img {
  margin-right: 10px;
  border: 2px solid black;
}

.top-right li {
  font-weight: bold;
  text-decoration: underline;
  border-radius: 10px;
  background-color: lightgray;
}

.left-center {
  background-color: grey;
  border-radius: 10px;
}

.grid-item {
  grid-column: 1 / span 2;
  grid-row: 3;
  background-color: rgb(150, 156, 163);
  border-radius: 10px;
}

.top-left {
  position: relative;
  top: 0;
  left: 8%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.grid-item.top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid green;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.third-row-center {
  grid-column: 1 / span 2;
  grid-row: 3;
  font-weight: bold;
}

.third-row-center p {
  color: black;
  text-align: left;
  border-radius: 10px;
}

.bottom-left {
  border: 2px solid black;
  position: absolute;
  bottom: 20px;
  left: 10%;
  background-color: #fff4e6;

}

form {
  grid-column: 1 / span 2;
  grid-row: 2;
  /* border: 10px solid green; */
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
ul,
form,
.left-center,
.top-right {
  justify-self: center;
}

label {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  margin: none;
  color: black;
  width: 100%;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
  margin: none;
  padding: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  background-color: lightgrey;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  text-align: center;
}

input[type="checkbox"] {
  margin: none;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  margin-top: 10px;
  border: 2px solid black;
  width: 100%;
  background-color: green;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;

}

.remove,
.toggle {
  border-radius: 50%;
  width: 100px;
  height: 40px;
  color: black;
  background-color: orangered;
  border: 2px solid black;
}


