* {
  box-sizing: border-box;
  display: 100vh;
}

.flex-container {
  margin: 20px 20px 0 20px;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  border: 10px solid rgb(51, 168, 76);
  border-radius: 10px;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 10px;
  flex: 50%;
}

.default-puppet {
  font-size: 16pt;
  display: flex;
  flex-direction: column;
}

@media (max-width: 667px) {
  .flex-container {
    flex-direction: column;
  }
}

header {
  border: 5px solid dodgerblue;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(51, 168, 76);
  }

h1 {
  display: grid;
  justify-content: center;
}



#dark-mode {
  display: flex;

  font-size: 0%;
  border: none;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-top: 20px;
}

#submit {
  width: 100px;
  margin-left: 105px;
  margin-top: 10px;
  background-color: rgb(51, 168, 76);
}

li {
  display: flex;
  list-style: none;
  justify-content: left;
}

form {
  margin: 20px;
  height: 550px;
  display: grid;
  justify-content: center;
}

input {
  width: 300px;
}

.remove {
  background-color: rgb(152, 66, 66);
  width: 80px;
  height: 35px;
}

button.toggle {
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
  margin-right: 30px;
}

button.toggle.in-stock {
  background-color: green;
}

button.toggle.out-of-stock {
  background-color: rgb(152, 66, 66);
}


.remove,
#submit,
button.toggle {
  transition: transform 0.3s;
}

.remove:hover,
#submit:hover,
button.toggle:hover {
  transform: scale(1.1);
}
